body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  background-color: floralwhite;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

img {
  width: 100%;
}

header {
  background-color: deepskyblue;
}

ul { padding: 0; }

header ul li, footer ul li {
  display: inline-block;
  margin: .3em .4em;
  background-color: floralwhite;
  padding: .5em 1em;
  border-radius: 3px;
}

header ul li:hover {
  box-shadow: 2px 2px green;
}

a {
  text-decoration: none;
}

main {
  background-color: ghostwhite;
  padding: 1em;
  flex: 1;
}

.box {
  margin: 0 auto;  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.big-box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.vetor {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  width: 200px;
  padding: 0px 10px 15px;
  text-justify: inter-word;
}

/*Edita inputs que nao sejam range*/
input:not([type='range']) {
  width: 25%;
  border: 2px solid dodgerblue;
  border-radius: 6px;
  margin: 2px;
  padding: 2px;
}

.vetor-resultante {
  display: none;
}

.vetor-final {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 200px;
  padding: 0px 10px 15px;
}

.seta:not([src='imgs\\zero.png']) {
  transition: transform 0.3s linear;
  width: 100%;
  z-index: 0;
}
footer {
  background-color: tomato;
}

@viewport{
  width: device-width;
}

@-ms-viewport{
  width: device-width;
}

.mainqs {
  padding: 5px;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.desc {
  padding: 4%;
  flex-grow: 1;
}

.descimg {
  text-align: right;
  flex-grow: 1.5;
}

.descimg img {
  height: 7em;
  width: 7em;
}

.vetUn {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vetUn input {
  width: 25%;
}

label {
  z-index: 2;
}

#formula {
  font-weight: bold;
}

.vetUn-resultante {
  display: none;
}

.butResult {
  padding: 1em;
  display: flex;
  flex-flow: column;
  align-self: center;
}

#tutorial {
  background-color: red;
  width: 100%;
  display: none;
}

#tutorial h1 {
  padding: 0;
  margin: 0;
}